* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  /*hintergrund*/
  background: #2b002b;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(88, 20, 83, 0.59) 12.5%,
    rgb(43, 0, 43) 100%
  );

  font-family: Ubuntu, sans-serif;
  font-size: 18px;
}

/* Header */

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-style: normal;
  line-height: 17px;
}

/* Logo (Bild und Text) */

.logo {
  margin-left: 100px;
  margin-top: 25px;
}

.logo-img {
  width: 100px;
  height: 104px;
  margin-left: 35px;
}

.logo-name {
  font-family: Encode Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 37px;
  color: #ffb800;
}

/* Navigationsmenu */

.nav-header {
  list-style: none;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 100px;
}

.nav-header li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}

a {
  color: #ffffff;
}

.header-link a:link {
  text-decoration: none;
}

.nav-header li a:hover {
  color: #ffb800;
  text-decoration: underline;
}

.nav-header .stop-corona-mobile {
  display: none;
}

/* Navigationsmenu Mobile */

@media screen and (max-width: 700px) {
  .header-wrapper {
    width: 100%;
    height: 100%;
  }

  .header-wrapper .logo {
    display: none;
  }

  .nav-header .stop-corona-mobile {
    display: block;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #ffb800;
  }

  .nav-header {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0px auto;
  }

  .nav-header li {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    font-size: 24px;
    margin-top: 30px;
    padding: 20px;
  }

  .nav-header li:not(:first-child):hover {
    background-color: #6b1569;
    color: #ffb800;
  }

  .nav-header li a:hover {
    text-decoration: none;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b1569;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e0f4c;
}

/* Footer */
.nav-footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.nav-footer li {
  display: inline-block;
  padding: 0 10px;
}

.footer-link a:link {
  text-decoration: none;
}

.nav-footer li a:hover {
  color: #ffb800;
  text-decoration: underline;
}

/* Link auf externe Web-Seiten*/

a.extern:link {
  text-align: left;
  font: Ubuntu;
  font-size: 18;
  color: #ffb800b3;
}

a.extern:hover {
  text-align: left;
  font: Ubuntu;
  font-size: 18;
  color: #ffb800;
}

a.extern:visited,
a.extern:active {
  text-align: left;
  font: Ubuntu;
  font-size: 18;
  color: #44c4a1;
}
